# Bonus: Temperature Analysis I

In [54]:
import pandas as pd
from datetime import datetime as dt
from scipy.stats import ttest_ind

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
# Convert the date column format from string to datetime
df['date'] = df['date'].astype('datetime64[ns]')
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [24]:
# Set the date column as the DataFrame index
df_index = df.set_index('station').dropna()
df_index.head()

                  date  prcp  tobs
station
USC00519397 2010-01-01  0.08    65
USC00519397 2010-01-02  0.00    63
USC00519397 2010-01-03  0.00    74
USC00519397 2010-01-04  0.00    76
USC00519397 2010-01-07  0.06    70

In [25]:
# Drop the date column
df_index_no_date = df_index.drop(columns = ['date'])
df_index_no_date.head()

             prcp  tobs
station
USC00519397  0.08    65
USC00519397  0.00    63
USC00519397  0.00    74
USC00519397  0.00    76
USC00519397  0.06    70

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [26]:
# Filter data for desired months
df_june_to_december = df_index[df_index['date'].dt.month >= 6]
df_june_to_december.head()

                  date  prcp  tobs
station
USC00519397 2010-06-01  0.00    78
USC00519397 2010-06-02  0.01    76
USC00519397 2010-06-03  0.00    78
USC00519397 2010-06-04  0.00    76
USC00519397 2010-06-05  0.00    77

In [44]:
# Identify the average temperature for June
temp_june = []
for i, row in df_june_to_december.iterrows():
    if row['date'].month == 6:
        temp_june.append(row['tobs'])
ave_temp_june = round(sum(temp_june) / len(temp_june), 2)
print(f'The average temperature in June is {ave_temp_june} degrees Fahrenheit')

The average temperature in June is 74.89 degrees Fahrenheit

In [52]:
# Identify the average temperature for December
temp_dec = []
for i, row in df_june_to_december.iterrows():
    if row['date'].month == 12:
        temp_dec.append(row['tobs'])
ave_temp_dec = round(sum(temp_dec) / len(temp_dec), 2)
print(f'The average temperature in December is {ave_temp_dec} degrees Fahrenheit')
print(len(temp_dec))
print(len(temp_june))

The average temperature in December is 70.93 degrees Fahrenheit
1405
1574

In [ ]:
# Create collections of temperature data

In [56]:
# Run unpaired t-test

t_test = ttest_ind(temp_june, temp_dec)
print(t_test)

Ttest_indResult(statistic=30.865349991562194, pvalue=9.8415346259008e-182)

### Analysis

In [ ]:
#An unpaired t-test was used because the two data sets were of different lengths
#Because the p-value is lower than 0.05, it shows that you can reject the null hypothesis and the difference in data is significantly different